/* Back To Top */
.cd-top {
    display: inline-block;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 50%;
    background: rgba(105, 195, 153, 0.6);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top i{
    top: 7px;
    color: #fff;
    font-size: 30px;
    display: inline-flex;
    position: absolute;
    right: 32px;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 99;
}
.cd-top.cd-fade-out {
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}


.top-banner.modern {
    padding-top: 155px;
}
.top-banner.modern .banner-wrap {
    width: 100%;
    float: left;
}
.top-banner.modern .heading {
    width: 100%;
    float: left;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 52px;
    line-height: 48px;
    font-family: "Open Sans Bold";
}
.top-banner.modern .subheading {
    float: left;
    color: #fff;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 50px;
    font-size: 18px;
    color: #fff;
    font-family: "Open Sans Light";
}
.top-banner.classic .heading {
    width: 100%;
    text-align: center;
    color: #fff;
    display: inline-block;
    line-height: 46px;
    font-family: "Open Sans Bold";
    line-height: 48px;
    font-size: 52px;
}
.top-banner.top-classic .subheading {
    float: left;
    width: 100%;
    color: #fff;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: "Open Sans Light";
}
.top-banner.classic .subheading {
    float: left;
    width: 100%;
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
    font-family: "Open Sans";
}
.top-banner.modern .btn {
    float: left;
}